<mat-dialog-content class="mat-typography">
    <div class="main" fxLayout>
        <div class="container" fxLayout="center center">
            <img src="../../assets/Books/2766594@2x.png" class="imagebar" alt="img">
        </div>
        <div class="side">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="LOGIN">
                    <form fxLayoutAlign="stretch" [formGroup]="form" fxLayout="column" class="login-form">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" matInput required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" formControlName="password"
                                [type]="hide ? 'password' : 'text'" required />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-raised-button type="submit" [mat-dialog-close]="true" (click)="login()"
                            class="button">Login</button>
                    </form>
                </mat-tab>
                <mat-tab label="SIGN UP">
                    <form fxLayoutAlign="stretch" [formGroup]="form" fxLayout="column" class="login">
                        <mat-form-field>
                            <input matInput placeholder="Full Name" formControlName="fullName" matInput required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" matInput required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" formControlName="password"
                                [type]="hide ? 'password' : 'text'" minlength="8" required />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Phone Number" formControlName="phoneNumber" matInput
                                required />
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="button" (click)="register()"
                            [mat-dialog-close]="true">Sign Up</button>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-dialog-content>