<div class="main-container">
    <header class="headerbar">
        <div class="container" fxLayout="row wrap" fxLayoutAlign=" space-evenly center">
            <div class="Book"  >

                <img src="../../assets/Books/bookimg.svg" alt="" style="height: 4vh; margin-left: 40px;">

            </div>

            <div class="textfield">BookStore</div>

            <div class="searchBarDiv" style="padding-top: 10px; padding-left: 30px;">

                <input type="text" class="searchbar" placeholder="Search" style="width: 350%;height:4vh; ">

            </div>


            <!-- <div fxLayout="row wrap" fxLayoutAlign="space-around center"> -->
            <div class="person"  style=" padding-left: 900px;">
                <img src="../../assets/Books/userimg.svg" alt="profile" class="personimage" (click)="openDialog()" style="height: 4.5vh;">
                <p class="profile">Profile</p>

            </div>
            <div class="cartSpan" style="padding-left: 30px; ">

                <img src="../../assets/Books/cartimg.svg" alt="cart" class="cartimage" style="height: 5vh;">
                <p class="cartpara">Cart</p>

            </div>
            <!-- </div> -->

        </div>
    </header>
</div>