<app-header></app-header>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" fxLayoutAlign="center center" style="padding-right: 50px;">
      <img src="../../assets/order.png" class="image" alt="order placed " >
    </div>
    <div class="text">
      hurray!!! your order is confirmed the order id is
      #123456 save the order id for further
      communication..
    </div>
    <div class="table" fxLayout="row" fxLayoutAlign="center center">
      <table class="tablebar">
        <tr class="table1">
          <th>Email Us</th>
          <th>Contact Us</th>
          <th>Address</th>
        </tr>
        <tr class="table2">
          <td>kattasravani413@gmail.com</td>
          <td>9849567893</td>
          <td>H.no:12-734/1,reddy colony,Neareast to Jntuh University,Kukatpally,Hyderabad,Telangana
            560034</td>
        </tr>
      </table>
    </div>
    <div>
      <button mat-raised-button class="btn">CONTINUE SHOPPING</button>
    </div>
  </div>

<app-footer></app-footer>