<app-header></app-header>
<div class="side" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div>
        <span>Books</span>
        <span class="item">(128items)</span>
    </div>

    <div style="padding-left: 1000px; ">
        <!-- <img class="plus" src="../../assets/Books/plusimg.svg"> -->
        <button style="width: 150%; height: 50px;">Add Books</button>
    </div>
</div>
<div class="maincontaintentItem" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image 1.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/image2.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image3.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image 23.png">
        </div>

        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>

</div>
<div class="maincontaintentItem">

    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/image5.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image6.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image7.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image8.png">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2">DELETE</button>
        </div>
    </div>
</div>
    <app-footer></app-footer>
  