<app-header></app-header>
<div class="side" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div>
        <span>Books</span>
        <span class="item">(128items)</span>
    </div>

    <div style="padding-left: 1000px; ">
        
        <button  mat-button (click)="openDialog()" style="width: 150%; height: 35px;">   
          
          <a style="font-size: medium;"> +</a>  Add Books</button>
          <!-- <button (click)="openDialog()">+add book</button> -->
    </div>
</div>
<div class="maincontaintentItem" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start" >
            <img class="img1" src="../../assets/Books/Image 1.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span>
        <div style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
            <button type="button">UPDATE</button>
        </div>
            <div style="padding-left: 30px;">
            <button type="button" class="button2" >DELETE</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div  class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/image2.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div  style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
           <div> 
               <button type="button">UPDATE</button>
           </div>
           <div style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image3.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
             <div>
                 <button type="button">UPDATE</button>
             </div>
             <div style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image 23.png" style="margin-left: 40px;">
        </div>

        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div  style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;"class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
                <button type="button">UPDATE</button>
            </div>
            <div style="padding-left: 30px;">
                <button type="button" class="button2">DELETE</button>
            </div>
        </div>
    </div>

</div>
<div class="maincontaintentItem">

    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/image5.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div   style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div>
            <button type="button">UPDATE</button>
        </div>
        <div  style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image6.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
                <button type="button">UPDATE</button>
            </div>
            <div  style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image7.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div  style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;" class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
           <div>
               <button type="button">UPDATE</button>
           </div>
            <div style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../assets/Books/Image8.png" style="margin-left: 40px;">
        </div>
        <br>
        <span class="line1">Dont Make Me Think</span><br>
        <span class="line2">by Steve Krug</span><br>
        <span class="line1">Rs. 1200</span><br>
        <div   style="padding-left: 30px; padding-top: 10px; display: flex; flex-direction: row;"class="d" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div>
                <button type="button">UPDATE</button>
            </div>
            <div style="padding-left: 30px;">
            <button type="button" class="button2">DELETE</button>
        </div>
        </div>
    </div>
</div>
    <app-footer></app-footer>
  