<div class="main-container" >
    <header class="headerbar">
        <div class="container" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayoutAlign="space-between center">
                <img src="../../assets/book.svg" alt="" class="Book">
                <span class="textfield">BookStore</span>
            
            
                <input type="text" class="searchbar" placeholder="Search">
<!--             
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxLayoutAlign="center center" class="person"> -->
                    <img src="../../assets/person.svg" alt="profile" class="personimg">
                
                <!-- </div>
                <div fxLayout="column" fxLayoutAlign="center center"> -->
                    <img src="../../assets/cart.svg" alt="cart" class="cartimg">    
                    <p class="cart">Cart</p>
            
            
        </div>
    <!-- </header> -->
</div>